:root {
  --main-color: #ff7f50;
}
* {
  box-sizing: border-box;
  color: #ffffff;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #0d131b;
  font-family: Arial;
  height: 100%;
  width: 100%;
}
header {
  padding: 3rem 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.nav-menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-logo {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  border-top: 1px solid #353535;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
}

.footer-inside {
  padding: 1.2rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #0d131b;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
