main {
  margin: auto;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  text-align: center;
}

.post-container {
  margin: auto;
  max-width: 90%;
  text-align: left;
}

.post-title {
  font-size: 4rem;
  text-align: center;
  color: var(--main-color);
  font-weight: 600;
}
.under-info {
  text-align: center;
}
.under-info span {
  color: rgb(105, 105, 105);
  font-weight: 500;
}
.tag::before {
  content: "⋅";
  margin-right: 6px;
  margin-left: 10px;
}

.short-description {
  color: var(--hero-text);
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.content {
  margin-top: 2rem;
}

.content_title {
  color: var(--hero-text);
  margin-top: 2rem;
  font-size: 2rem;
  text-decoration: underline var(--main-color);
}

.content_text {
  color: var(--hero-text);
  margin-top: 20px;
  word-break: break-word;
  letter-spacing: 1px;
  line-height: 1.625;
  font-size: 1.25rem;
}

.content_image {
  margin-top: 30px;
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

strong {
  color: var(--main-color);
  text-decoration: underline;
}

.alert {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10px;
  position: relative;
  background-color: var(--button-background);
}

.alert-inner {
  font-size: 1rem;
  font-weight: 500;
  padding: 20px 40px;
  word-break: break-all;
}

.alert-info::before {
  content: "";
  height: 100%;
  width: 8px;
  position: absolute;
  background-color: #2cb661;
}

.alert-danger::before {
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  background-color: #b62c2c;
}

.alert-warning::before {
  content: "";
  height: 100%;
  width: 4px;
  position: absolute;
  background-color: #dab334;
}

.copy-to-clipboard-button {
  cursor: pointer;
}

.code-toolbar {
  margin-top: 20px;
}

pre {
  border-radius: 10px;
}

@media (min-width: 768px) {
  .post-title {
    font-size: 6rem;
  }

  .under-info span {
    font-size: 1.2rem;
  }

  .post-container {
    margin: auto;
    max-width: 50%;
  }

  .content {
    margin-top: 4rem;
  }

  .content_title {
    margin-top: 4rem;
    font-size: 3rem;
  }

  .content_text {
    font-size: 1.3rem;
  }

  .alert-inner {
    font-size: 1.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1080px) {
  .post-container {
    max-width: 70%;
  }
}
