main {
  width: 85%;
  max-width: 80%;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  text-align: center;
}
.main-inner {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 6% 0 4rem;
}
h1 {
  display: flex;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
  font-size: 2rem;
}

.posts-container {
  margin-top: 3rem;
}
.posts-container ul {
  padding: 0;
  list-style-type: none;
}
.posts-container li {
  padding: 10px;
}

.posts-container li a {
  cursor: pointer;
}

.post .title {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 600;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
