main {
  width: 85%;
  max-width: 80%;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  text-align: center;
}
.main-inner {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 6% 0 4rem;
}
h1 {
  display: flex;
  border-bottom: 2px solid var(--main-color);
  width: fit-content;
  font-size: 3rem;
}

.clickable-tags {
  padding-top: 3rem;
  padding-bottom: 2rem;
  max-width: 70%;
  margin: auto;
}

.options-list {
  display: flex;
  padding: 0;
  justify-content: center;
}

.option {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 4px 10px;
  border: 2px solid var(--main-color);
  border-radius: 16px;
  margin: auto;
  color: var(--main-color);
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.option.active,
.option:hover {
  color: black;
  background-color: var(--main-color);
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
